In [2]:
import pandas as pd
import numpy as np

In [5]:
#Question 1
n = int(input("Enter the value of n"))
arr = np.random.randint(100, size = n)
ser = pd.Series(arr)
print(ser)

0    61
1    25
2    38
3    93
4    80
5    62
6    50
7    34
dtype: int32

In [11]:
#Question 2
data = np.array([[1,"2019-05-26","Depression", "Mental health is challenging"],
[2,"2019-05-26","Social Anxiety", "Mental health is challenging"],
[3,"2019-05-26","Bipolar Disorder", "Mental health is challenging"],
[4,"2019-05-26","Eating Disorder", "Mental health is challenging"]])

df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
print(df)

   A           B                 C                             D
0  1  2019-05-26        Depression  Mental health is challenging
1  2  2019-05-26    Social Anxiety  Mental health is challenging
2  3  2019-05-26  Bipolar Disorder  Mental health is challenging
3  4  2019-05-26   Eating Disorder  Mental health is challenging

In [12]:
#Question 3
data = {
    "A":["Apple", "Aeroplane"],
    "B":["Ball", "Bat"],
    "C":[None, "Cat"]
}

df = pd.DataFrame(data)
print(df)

           A     B     C
0      Apple  Ball  None
1  Aeroplane   Bat   Cat

In [15]:
#Question 4
data = {
    "County":["Ostfold", "Hordland", "Oslo", "Hedmark", "Oppland", "Buskerud"],
    "ISO-Code":[1,2,3,4,5,6],
    "Area":[4180.69, 4917.94, 454.07, 27397.76, 25192.10, 14910.94],
    "Administrative centre":["Sarpsborg", "Oslo", "City of Oslo", "Hamar", "Lillehammer", "Drammen"]
}
df = pd.DataFrame(data)
print(df)

     County  ISO-Code      Area Administrative centre
0   Ostfold         1   4180.69             Sarpsborg
1  Hordland         2   4917.94                  Oslo
2      Oslo         3    454.07          City of Oslo
3   Hedmark         4  27397.76                 Hamar
4   Oppland         5  25192.10           Lillehammer
5  Buskerud         6  14910.94               Drammen

In [3]:
#Question 5
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
df1 = df.head()
print(df1, "\n")

   39          State-gov   77516   Bachelors   13        Never-married  \
0  50   Self-emp-not-inc   83311   Bachelors   13   Married-civ-spouse
1  38            Private  215646     HS-grad    9             Divorced
2  53            Private  234721        11th    7   Married-civ-spouse
3  28            Private  338409   Bachelors   13   Married-civ-spouse
4  37            Private  284582     Masters   14   Married-civ-spouse

         Adm-clerical   Not-in-family   White     Male   2174   0   40  \
0     Exec-managerial         Husband   White     Male      0   0   13
1   Handlers-cleaners   Not-in-family   White     Male      0   0   40
2   Handlers-cleaners         Husband   Black     Male      0   0   40
3      Prof-specialty            Wife   Black   Female      0   0   40
4     Exec-managerial            Wife   White   Female      0   0   40

    United-States   <=50K
0   United-States   <=50K
1   United-States   <=50K
2   United-States   <=50K
3            Cuba   <=50K
4   United-States   <=50K